<template>
  <Layout>
    <TheBreath :exercise="$page.exercise" :iterations="iterations" />
    <div class="radio-group">
      <IterationSelect
        v-for="iterationOpt in iterOptions"
        :key="iterationOpt"
        v-model.number="iterations"
        :iteration="iterationOpt"
        :selected-iteration="iterations"
      />
    </div>
  </Layout>
</template>

<page-query>
  query ($path: String!) {
    exercise (path: $path) {
      color
      gradient
      slug
      settings {
        inhale
        hold
        exhale
      }
    }
  }
</page-query>

<script>
import IterationSelect from '@/components/IterationSelect';
import TheBreath from '@/components/TheBreath';

export default {
  components: {
    IterationSelect,
    TheBreath
  },
  data() {
    return {
      iterations: 3,
      iterOptions: [3, 9, 12]
    };
  },
  mounted() {
    document.body.style.setProperty(
      'background-color',
      `${this.$page.exercise.color}`
    );
    document.body.style.setProperty(
      'background-image',
      `${this.$page.exercise.gradient}`
    );
  }
};
</script>

<style>
.radio-group {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-6);
}
</style>
