<template>
  <a class="exercise-link glass" :href="exercise.slug">
    <div :id="exercise.id" class="circle-link"></div>
    <span>{{ exercise.slug }}</span>
  </a>
</template>

<script>
export default {
  props: {
    exercise: {
      required: true,
      type: Object
    }
  },
  mounted() {
    let circle = document.getElementById(this.exercise.id);
    circle.style.setProperty('background', `${this.exercise.color}`);
  }
};
</script>

<style>
.circle-link {
  border-radius: var(--radius-round);
  display: inline-block;
  height: var(--spacing-1);
  width: var(--spacing-1);
}

.exercise-link {
  align-items: center;
  border-radius: var(--radius-round);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-000);
  text-decoration: none;
  width: var(--spacing-5);
}
</style>
