<template>
  <label
    class="glass radio"
    :class="{ 'radio-checked': checked }"
    :for="iteration"
  >
    <input
      :id="iteration"
      :value="iteration"
      type="radio"
      name="iterationSelection"
      :checked="checked"
      @input="$emit('input', iteration)"
    />
    {{ iteration }}
  </label>
</template>

<script>
export default {
  props: {
    iteration: {
      required: true,
      type: Number
    },
    selectedIteration: {
      required: true,
      type: Number
    }
  },
  computed: {
    checked() {
      return this.selectedIteration == this.iteration;
    }
  }
};
</script>

<style>
.radio {
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: var(--spacing-0) 0;
  text-align: center;
  width: var(--spacing-4);
}

.radio:first-child {
  border-top-left-radius: var(--radius-round);
  border-bottom-left-radius: var(--radius-round);
  /* padding-left: var(--spacing-2); */
}

.radio:last-child {
  border-top-right-radius: var(--radius-round);
  border-bottom-right-radius: var(--radius-round);
  /* padding-right: var(--spacing-2); */
}

.radio-checked {
  background: radial-gradient(
    rgba(255, 255, 255, 0.45),
    rgba(255, 255, 255, 0.6)
  ) !important;
}

.radio > input {
  display: none;
}
</style>
