<template>
  <div class="container">
    <div class="circle glass" @click="toggleAnimation"></div>
  </div>
</template>

<script>
export default {
  props: {
    exercise: {
      required: true,
      type: Object
    },
    iterations: {
      required: true,
      type: Number
    }
  },
  data() {
    return {
      exhaleDuration: this.exercise.settings.exhale,
      holdDuration: this.exercise.settings.hold,
      inhaleDuration: this.exercise.settings.inhale,
      playState: 'idle'
    };
  },
  computed: {
    animation() {
      const animation = new Animation();

      animation.onfinish = () => {
        this.playState = 'idle';
      };

      return animation;
    },
    keyframeOptions() {
      return {
        duration: this.totalDuration,
        iterations: this.iterations
      };
    },
    keyframeSet() {
      return [
        {
          transform: 'scale(1)',
          easing: 'cubic-bezier(0.25, 0, .5, 1)'
        },
        {
          transform: 'scale(1.25)',
          offset: this.inhaleDuration / this.totalDuration
        },
        {
          transform: 'scale(1.25)',
          easing: 'cubic-bezier(0.25, 0, .5, 1)',
          offset: (this.holdDuration + this.inhaleDuration) / this.totalDuration
        },
        {
          transform: 'scale(1)',
          offset:
            (this.exhaleDuration + this.holdDuration + this.inhaleDuration) /
            this.totalDuration
        },
        { transform: 'scale(1)' }
      ];
    },
    toggleAnimation() {
      return this.playState === 'running' ? this.pause : this.play;
    },
    totalDuration() {
      return this.inhaleDuration + this.exhaleDuration + this.holdDuration * 2;
    }
  },
  methods: {
    play(e) {
      if (this.animation.playState === 'idle') {
        const keyframes = new KeyframeEffect(
          e.target,
          this.keyframeSet,
          this.keyframeOptions
        );

        this.animation.effect = keyframes;
      }

      this.animation.play();
      this.playState = this.animation.playState;
    },
    pause() {
      this.animation.pause();
      this.playState = this.animation.playState;
    }
  }
};
</script>

<style>
.container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.circle {
  border-radius: var(--radius-round);
  cursor: pointer;
  height: var(--spacing-10);
  width: var(--spacing-10);
}
</style>
