<template>
  <div id="app">
    <router-view :key="$route.path" />
  </div>
</template>

<style>
.glass {
  backdrop-filter: blur(2px);
  background: radial-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.45)
  );
  border: solid 1px rgba(255, 255, 255, 0.2);
}
</style>
