<template>
  <div class="layout">
    <header class="header">
      <ExerciseLink
        v-for="exercise in $static.exercises.edges"
        :key="exercise.node.id"
        :exercise="exercise.node"
      />
    </header>
    <slot />
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  },
  exercises: allExercise {
    edges {
      node {
        id
        color
        slug
      }
    }
  }
}
</static-query>

<script>
import ExerciseLink from '@/components/ExerciseLink';

export default {
  components: {
    ExerciseLink
  }
};
</script>

<style>
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  height: 100vh;
}

.layout {
  max-width: 760px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-6);
  height: 80px;
}

.nav-link {
  background: white;
  text-decoration: none;
  width: var(--spacing-6);
}
</style>
